<% include partials/header.ejs %>

  <h1 class="text-center"><%= title %></h1>
  <p class="text-center">Anything You Want to!</p>
  <p class="text-center"><img  src="images/Home/back.png" ></p>
  

<% include partials/footer.ejs %>
